*{
    
}
body{
// width: 100%;

    .contact{
        background-image: url("../../../public/img/banner-bg.jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        h1{
            color: white;
        }
        p{
            color: white;
            width: 40%;
            text-align: center;
        }
    }

}


