body{
    position: relative;
    header{
        position: fixed;
        top: 0;
        h2{
    
        }
        hr{
            width: 80%;
        }
        nav{
            a{
                color: black;
                text-decoration: none;
                margin: 15px;
                max-width: max-content;
                position: relative;
            }
            a::before{
                content:"";
                background-color: black;
                width: 0%;
                height: 3px;
                transition: 0.5s;
                position:absolute;
                bottom: 0%;
                left: 50%;
            }
            
            a:hover::before{
                left:0%;
                width: 100%;
            }
            a:hover{
                color: black;
                text-decoration: none;
            }
        }
    }
}