#section2{
    .col-6{
        select{
            border-top:0;
            border-left:0;
            border-right:0;
    
        }
        input{
            border-top:0;
            border-left:0;
            border-right:0;
        }
    }
}